<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gl100531d.monopolyapp">

    <application

            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".Controller.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".Controller.AddPlayersActivity" />

        <activity android:label="@string/app_name" android:name=".Controller.AddedPlayersActivity" />
        <activity
                android:label="@string/app_name"
                android:name=".Controller.BoardActivity"
                android:screenOrientation="landscape"
                android:theme="@style/Tema1"/>
    </application>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />



</manifest>